[Unit]
Description=Go

[Service]
Type=simple
Restart=always
WorkingDirectory=/var/go-web
ExecStart=/var/go-web/go-web

[Install]
WantedBy=multi-user.target